/* Common  */
nav {
  height: 100px;
  display: flex; 
  flex-direction: row;
}

.logo {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 20%
}

ul {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  flex-direction: row;
}

ul li {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-left: 3rem;
  text-align: left;
  border-bottom-style: none;
  font-size: 1.25rem;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover{ text-decoration:underline; }
a {color: black}

h1, h2, h3, h4, h5, h6, p, a, label{
  font-family: 'Roboto Flex', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight:300;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 24px; 
}

/* home page */
.intro {
  padding-top: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.intro-name { 
  background-color: rgba(80, 125, 250, .50);
  border-radius: 15px;
}

.intro-name h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-top: 10px;
  color: #192F6D;
  font-weight: bolder;
  font-size: 4rem;
}

.intro h2 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.intro p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size:2rem;
}

.typing-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
  margin-left: 10px;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: black;
  margin-left: 5px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

.home-footer {
  width:100%;
  display: flex;
  justify-content: center;
  position:absolute;
  bottom: 5%;
}

.home-footer a {
  padding-left: 15px;
  padding-right: 15px;
}

/* about page  */
.about-me {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.about-me img {
  max-width: 100%;
  height: auto;
  object-fit:scale-down;
}

.about-me-content {
  width: 60%;
  padding-left: 2.5%;
}

.about-me-content h1 {
  margin-top: 0rem;
  margin-bottom: .5rem;
  font-size: 48px;
  font-weight:300;
}

.about-me-content h3 {
  color: #192F6D;
  font-size: 32px;
  font-weight: 500;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.skills {
  margin-left: 1rem;
  margin-right: 1rem;
}


.skills h1 {
  margin-bottom: 0rem;
  margin-top: 3rem;
}

.skills h3 {
  font-weight: 400;
}

.skill {
  display:flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1rem;
}

.skill label {
  font-size: 24px;
  padding-bottom: .25rem;
}

progress {
  width: 80%;
  height: 30px;
  border-radius: 10px;
}

/* For Firefox */
progress[value]::-moz-progress-bar {
  background:#192F6D;
}

/* For Chrome or Safari */
progress[value]::-webkit-progress-bar{
  background: #fff;
  border-radius: 10px;
  border: 5px;
  box-shadow: 0 0 0 3px #192F6D inset;
}

progress[value]::-webkit-progress-value {
  background-color: #192F6D;
  border-radius: 10px;
}

.career {
  margin-left: 1rem;
  margin-right: 1rem;
}

.career h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.timeline-left {
  width: 150px;
  margin-right: 3rem;
  text-align: center;
}

.timeline-right {
  flex-grow: 1;
  max-width: 80%;
}

.timeline-right h1 {
  margin-top: 0rem;
  margin-bottom: .25rem;
}

.timeline-right h2 {
  margin-top: 0rem;
  margin-bottom:.5rem;
  color: #192F6D;
}

.timeline-item p {
  margin-top: .5rem;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid navy;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

/* Projects */

.projects {
  margin-left: 1rem;
  margin-right: 1rem;
}